In [4]:
CREATE DATABASE seguradora;

In [5]:
use seguradora

In [6]:
CREATE TABLE Cliente (
    CodCliente INT PRIMARY KEY,
    Nome VARCHAR(45) NOT NULL,
    CPF VARCHAR(45) UNIQUE NOT NULL,
    Sexo VARCHAR(20),
    Estado VARCHAR(45),
    Cidade VARCHAR(45) DEFAULT 'Itapira',
    Bairro VARCHAR(45),
    Numero VARCHAR(45),
    Rua VARCHAR(45),
    TelefoneFixo VARCHAR(45),
    TelefoneCelular VARCHAR(45) UNIQUE NOT NULL
);

In [9]:
CREATE TABLE Carro (
    CodCodCarro INT PRIMARY KEY,
    Placa VARCHAR(45),
    Marca VARCHAR(45),
    Modelo VARCHAR(45),
    Ano VARCHAR(45),
    Chassi VARCHAR(45),
    Cor VARCHAR(45)
);

In [27]:
CREATE TABLE Apolice (
    CodApolice INT PRIMARY KEY, 
    ValorCobertura DECIMAL NOT NULL,
    ValorFranquia DECIMAL NOT NULL,
    DataInicioVigencia DATE NOT NULL,
    DataFimVigencia DATE NOT NULL,
    Cliente_CodCliente INT NOT NULL,
    Carro_CodCarro INT NOT NULL,
    CONSTRAINT cnk_dataInicioVigencia CHECK (DataInicioVigencia >= GETDATE()),
    FOREIGN KEY (Cliente_CodCliente) REFERENCES Cliente(CodCliente),
    FOREIGN KEY (Carro_CodCarro) REFERENCES Carro(CodCarro)
);

: Msg 2714, Level 16, State 6, Line 1
Já existe um objeto com nome 'Apolice' no banco de dados.

In [29]:
CREATE TABLE Sinistro (
    CodSinistro INT,
    HoraSinistro INT,
    DataSinistro DATE,
    LocalSinistro VARCHAR(45),
    Condutor VARCHAR(45),
    Carro_CodCarro INT,
    CONSTRAINT pk_sinistro PRIMARY KEY (CodSinistro, Carro_CodCarro),
    FOREIGN KEY (Carro_CodCarro) REFERENCES Carro(CodCarro)
);

: Msg 1770, Level 16, State 0, Line 1
A chave estrangeira 'FK__Sinistro__Carro___75A278F5' faz referência à coluna inválida 'CodCarro' na tabela de referência 'Carro'.

: Msg 1750, Level 16, State 1, Line 1
Não foi possível criar a restrição ou o índice. Consulte os erros anteriores.